<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>18/10/08 14:18:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driver.DataBaseConnection()[pri:4, instance:ExectuionEngine.Driver@5e3a8624]">DataBaseConnection</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/10/08 14:18:53</td>   <td>710</td> <td>&nbsp;</td><td title="&lt;&lt;Driver.afterTest()[pri:0, instance:ExectuionEngine.Driver@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/10/08 14:18:42</td>   <td>-9957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driver.canReqestExecution()[pri:2, instance:ExectuionEngine.Driver@5e3a8624]">canReqestExecution</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/10/08 14:18:17</td>   <td>-34967</td> <td>&nbsp;</td><td title="&gt;&gt;Driver.initialConfiguration(org.testng.ITestContext)[pri:0, instance:ExectuionEngine.Driver@5e3a8624]">&gt;&gt;initialConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/10/08 14:18:49</td>   <td>-2978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driver.mQueueExecution()[pri:3, instance:ExectuionEngine.Driver@5e3a8624]">mQueueExecution</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>18/10/08 14:18:18</td>   <td>-34468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driver.provisionReqestExecution()[pri:1, instance:ExectuionEngine.Driver@5e3a8624]">provisionReqestExecution</td> 
  <td>main@1458540918</td>   <td></td> </tr>
</table>
