<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestingSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>18/09/06 16:25:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Driver.initialConfiguration(org.testng.ITestContext)[pri:0, instance:ExectuionEngine.Driver@66a3ffec]">&gt;&gt;initialConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
</table>
