<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/09/10 17:27:35</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Driver.afterTest()[pri:0, instance:ExectuionEngine.Driver@68c4039c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/10 17:27:31</td>   <td>-3957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driver.cnctoCheckSubscription()[pri:0, instance:ExectuionEngine.Driver@68c4039c]">cnctoCheckSubscription</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/09/10 17:27:31</td>   <td>-4122</td> <td>&nbsp;</td><td title="&gt;&gt;Driver.initialConfiguration(org.testng.ITestContext)[pri:0, instance:ExectuionEngine.Driver@68c4039c]">&gt;&gt;initialConfiguration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
</table>
